#Body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

#Div1 {
  width: 70%;
  background-color: #b30101;
  text-align: center;
  padding: 1em;
  margin-left: 15%;
}

#Div2 {
  width: 15%;
  background-color: #a1a1a1;
  padding: 1em;
  color: black;
  position: fixed;
  left: 0;
  top: 10;
  height: 88.5vh;
  box-sizing: border-box;
}

#Div3 {
  width: 70%;
  background-color: white;
  color: black;
  padding: 1em;
  margin-left: 15%;
}

#Div4 {
  width: 70%;
  background-color: #b30101;
  text-align: center;
  padding: 1em;
  margin-left: 15%;
}
